body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2; /* Gris claro */
    color: #2d2d2d; /* Negro suave */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #e74c3c; /* Rojo */
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 1.1rem;
    color: #2c3e50; /* Negro oscuro */
}

select, input {
    padding: 10px;
    margin: 10px;
    border: 2px solid #7f8c8d; /* Gris */
    border-radius: 5px;
    font-size: 1rem;
    width: 150px;
    transition: all 0.3s ease-in-out;
}

select:focus, input:focus {
    border-color: #e74c3c; /* Rojo */
    outline: none;
}

button {
    background-color: #e74c3c; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b; /* Rojo oscuro */
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Blanco */
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1.1rem;
}

th {
    background-color: #2d2d2d; /* Negro */
    color: white;
}

td {
    background-color: #f9f9f9; /* Gris claro */
}

p {
    font-size: 1.2rem;
    color: #e74c3c; /* Rojo */
    margin-top: 10px;
}

#totalPoints {
    color: #e74c3c; /* Rojo */
}

#highestDiscipline {
    color: #2d2d2d; /* Negro */
}
